
#forum tr td.forum {
  padding-left: inherit;
  padding-right: 25px;
  background-position: 98% 2px;
}
.forum-topic-navigation {
  padding: 1em 3em 0 0;
}
.forum-topic-navigation .topic-previous {
  text-align: left;
  float: right;
}
.forum-topic-navigation .topic-next {
  text-align: right;
  float: left;
}
