body {
	background: #42afdc url(images/html-bg.gif) repeat-x;
	font: 75%/170% Arial, Helvetica, sans-serif;
	padding: 0px;
	margin: 0px;
	color: #333333;
}
a {
	color: #2485bd;
	text-decoration: none;
}
a:visited {
	color: #2485bd;
}
a:hover {
	text-decoration: underline;
}
p {
	margin: 0px 0px 15px;
}
img {
	border: none;
}
ul {
	margin: 5px 0px 15px;
	padding-left: 20px;
}
ul li {
	margin: 0px;
}
ol {
	margin: 5px 0px 15px;
	padding-left: 20px;
}
ul li {
	margin: 0px;
}
form {
	margin: 0px;
	padding: 0px;
}
small {
	font-size: 90%;
}
#page {
	background: url(images/main-bg.jpg) no-repeat center top;
}
#wrapper {
	width: 770px;
	margin: 0px auto;
	position: relative;
}

/* ------------------------------------- header area  */
#logo {
	position: absolute;
	top: 20px;
	left: 15px;
	margin: 0px;
	padding: 0px;
}
#header {
	height: 100px;
}
/* ------------------------------------- site title */
#header h2 {
	position: absolute;
	top: 40px;
	left: 100px;
	color: #FFFFFF;
	margin: 0px;
	padding: 0px;
	font: normal 30px/100% "Trebuchet MS", Arial, sans-serif;
}
#header h2 a, h2 a:visited {
	color: #FFFFFF;
	text-decoration: none;
}
#header h2 a:hover {
	color: #000000;
	text-decoration: none;
}
.slogan {
	position: absolute;
	top: 77px;
	left: 100px;
	color: #000000;
	font: 12px Arial, Helvetica, sans-serif;
}
/* search form */
.form-item label {
  display: none;
}
#search-theme-form {
	position: absolute;
	top: 0px;
	right: 0px;
	background: url(images/searchform-bg.gif) no-repeat right bottom;
	height: 37px;
	width: 210px;
}
#header .form-text {
	background: #ffffff url(images/form-field-bg.gif) no-repeat;
	height: 15px;
	width: 128px;
	color: #999999;
	border: none;
	margin-top: 0px;
	margin-right: 10px;
	margin-bottom: 4px;
	margin-left: 5px;
	padding-top: 3px;
	padding-right: 5px;
	padding-bottom: 0px;
	padding-left: 5px;
}
#header .form-submit { 
	background: url(images/search-btn.gif) no-repeat left top;
	height: 24px;
	width: 24px;
	border: none;
	margin-left: 2px;
	text-indent: -999%;
	line-height: 1px;
	margin-top: 6px;
}

/* ------------------------------------- main content area  */
#left-col {
	width: 545px;
	float: left;
	margin-top: 11px;
}
/* main menu */
.node {
	margin: 6px 0;
	padding-bottom: 15px;
}
#nav {
	background: url(images/content-top-bg.gif) no-repeat left top;
	height: 26px;
}
#nav ul{
	list-style: none;
	margin: 0px 0px 0px 25px;
	padding: 0px;
	font: bold 12px/100% Arial, Helvetica, sans-serif;
}
#nav ul li{
	margin: 0px 1px 0px 0px;
	padding: 0px;
	float: left;
}
#nav ul li a{
	padding: 6px 7px 6px 7px;
	text-decoration: none;
	color: #000000;
	display: block;
}
#nav li a:visited{
	text-decoration: none;
	color: #000000;
}
#nav li a:hover, #nav .current_page_item a{
	text-decoration: none;
	background: #2e91c6 url(images/nav-item-hover.gif) repeat-x;
	color: #ffffff;
}
/* sub menu */
#subnav {
	background: #ecebeb;
}
#subnav ul {
	margin: 0px;
	padding: 3px 0px 18px 5px;
	list-style: none;
	font: 11px/100% Arial, Helvetica, sans-serif;
}
#subnav li {
	border-right: 1px solid #D8D8D8;
	padding: 0px 7px;
	margin: 0px;
	float: left;
}
#subnav li a, #subnav li a:visited, #subnav .page_item {
	text-decoration: none;
	color: #333333;
}
#subnav .current_page_item a, #subnav .current_page_item a:visited {
	color: #3b9acc;
}
#subnav li a:hover {
	text-decoration: none;
	color: #3b9acc;
}

/* ------------------------------------- content */
#content {
	padding: 25px 25px 15px 25px;
	width: 495px;
	background: #ffffff;
	clear: both;
	overflow: hidden;
}
.post {
	padding: 0px;
	clear: both;
	overflow: hidden;
}
.post .date {
	height: 50px;
	width: 45px;
	background: url(images/calendar.gif) no-repeat;
	font: normal 22px Arial, Helvetica, sans-serif;
	color: #666666;
	text-align: center;
	padding: 0px 2px 0 0;
	line-height: 100%;
	float: left;
}
.post .date span {
	height: 16px;
	display: block;
	font: normal 11px Arial, Helvetica, sans-serif;
	color: #ffffff;
	text-align: center;
	padding-top: 5px;
}
.post .title {
	float: left;
	margin-left: 10px;
	width: 438px;
}
.submitted {
	font-size: 90%;
	color: #999999;
}
.submitted a, .submitted a:visited {
	color: #999999;
	text-decoration: none;
}
.submitted a:hover {
	color: #44a1d0;
	text-decoration: none;
}
.submitted .category{
	background: url(images/mini-category.gif) no-repeat;
	padding-left: 18px;
	float: left;
}
.submitted .comments{
	background: url(images/mini-comment.gif) no-repeat;
	padding-left: 18px;
	float: right;
}
.mini-add-comment {
	background: url(images/mini-down-arrow.gif) no-repeat left center;
	padding-left: 12px;
	float: right;
}
.entry {
	padding: 10px 0px 5px;
	clear: both;
}

/* post title */
#content h1 {
	color: #333333;
	margin: 3px 0 2px;
	padding-bottom: 4px;
	font: normal 160%/100% "Lucida Grande", Arial, sans-serif;
	border-bottom: dotted 1px #CCCCCC;
}
#content h1 a, #content h1 a:visited {
	color: #333333;
	text-decoration: none;
}
#content h1 a:hover {
	color: #44a1d0;
	text-decoration: none;
}
#content h2 {
	color: #333333;
	margin: 3px 0 2px;
	padding-bottom: 4px;
	font: normal 150%/100% "Lucida Grande", Arial, sans-serif;
	border-bottom: dotted 1px #CCCCCC;
}
#content h2 a, #content h2 a:visited {
	color: #333333;
	text-decoration: none;
}
#content h2 a:hover {
	color: #44a1d0;
	text-decoration: none;
}
h3 {
	color: #666666;
	margin: 5px 0px 5px;
	font: bold 110%/110% "Lucida Grande", Arial, sans-serif;
}

/* ------------------------------------- next & previous page navigation */
#left-col .pager {
	clear: both;
	background: url(images/navigation-bg.gif) no-repeat left center;
	height: 21px;
}

#left-col .item-list .pager {
  clear: both;
  margin: 0 0 20px;
  text-align: center;
}

#left-col .item-list .pager li,
#left-col .item-list .pager li {
  background-image: none;
  display: inline;
  list-style-type: none;
  margin: 0;
  padding: 2px;
}

#left-col .item-list .pager a.active {
  color: #666;
  font-size: 0.9em;
  font-weight: bold;
  padding: 4px;
  text-decoration: none; 
}

#left-col .pager li.pager-current {
  color: #fff;
  margin: 0 3px;
  padding: 4px;
}

#left-col .pager-first,
#left-col .pager-next,
#left-col .pager-previous,
#left-col .pager-item,
#left-col .pager-last {
  margin: 0 3px;
  padding: 4px;
}

#left-col .pager-first:hover,
#left-col .pager-next:hover,
#left-col .pager-previous:hover,
#left-col .pager-item:hover,
#left-col .pager-previous:hover,
#left-col .pager-last:hover {
  background-color: #fff;
}


.previous-entries a {
	float: left;
	padding-left: 10px;
	margin-left: 10px;
	background: url(images/navigation-left.gif) no-repeat left center;
}
.next-entries a {
	float: right;
	padding-right: 10px;
	margin-right: 10px;
	background: url(images/navigation-right.gif) no-repeat right center;
}

/* next & previous post navigation */
.post-nav {
	clear: both;
	padding-bottom: 35px;
	margin-top: -15px;
	font-size: 95%;
}
.post-nav a, .post-nav a:visited {
	color: #999999;
	text-decoration: none;
}
.post-nav a:hover {
	color: #000000;
	text-decoration: none;
}
.post-nav .previous a {
	float: left;
	padding-left: 20px;
	background: url(images/post-nav-previous.gif) no-repeat left center;
}
.post-nav .next a {
	float: right;
	padding-right: 20px;
	text-align: right;
	background: url(images/post-nav-next.gif) no-repeat right center;
}

/* ------------------------------------- comment area  */
h3#comments {
	background: url(images/comments.gif) no-repeat;
	padding-left: 22px;
	font: normal 140%/120% Arial, Helvetica, sans-serif;
	clear: both;
}
h3#respond {
	background: url(images/respond.gif) no-repeat;
	padding-left: 22px;
	font: normal 140%/120% Arial, Helvetica, sans-serif;
	margin: 20px 0px 0px;
	clear: both;
}
/* commentform */
#commentform {
	margin-top: 10px;
}
#commentform label {
	font-weight: bold;
	color:#666;
	font-size: 100%;
	padding-left: 5px;
}
#commentform small {
	color: #999999;
	font-size: 90%;
}
#commentform input {
	font: 110% Arial, Helvetica, sans-serif;
	width: 220px;
	padding: 5px 3px 3px 7px;
	background: url(images/form-field-bg.gif) no-repeat;
	border-top: 1px solid #e6e6e6;
	border-right: 1px solid #E2E2E2;
	border-bottom: 1px solid #E2E2E2;
	border-left: 1px solid #e6e6e6;
}
#commentform textarea {
	font: 110% Arial, Helvetica, sans-serif;
	width: 480px;
	height: 140px;
	background:url(images/form-field-bg.gif) no-repeat;
	border: solid 1px #e6e6e6;
	padding: 5px 3px 3px 7px;
}
#commentform #submit {
	font: 12px/100% Arial, Helvetica, sans-serif;
	color: #000000;
	background: url(images/submit-btn.gif) no-repeat top left;
	border: none;
	width: 135px;
	height: 25px;
	padding-bottom: 6px;
	margin-left: 355px;
}
#commentform #submit:hover {
	background: url(images/submit-btn.gif) no-repeat bottom left;
}
#commentform textarea:focus, #commentform input[type="text"]:focus {
	border: solid 1px #3b9acc;
}

/* comment list */
.commentlist {
	margin: 10px 0px;
	padding-left: 45px;
	line-height: 130%;
}
.commentlist li{
	padding: 5px 10px;
}
.commentlist .alt {
	background: #F4F4F4;
}
.commentlist cite {
	font-weight: bold;
	font-style: normal;
	font-size: 110%;
	color: #669900;
}
.commentlist cite a, .commentlist cite a:visited {
	color: #669900;
}
.commentlist small {
	margin-bottom: 5px;
	display: block;
	font-size: 87%;
}
.commentlist small a, .commentlist small a:visited{
	color: #999999;
}

/* ------------------------------------- footer area  */
#footer {
	background: url(images/content-bottom-bg.gif) no-repeat;
	padding: 20px 0px 0px 10px;
	font-size: 80%;
	color: #282828;
}
#footer a, #footer a:visited {
	background-color:#1f7eb8;
	padding: 0px 3px;
	text-decoration: none;
	color: #fff;
}
#footer a:hover {
	text-decoration: underline;
}

/* ------------------------------------- sidebar area  */
/* sidebar */
#sidebar {
	float:right;
	width: 210px;
	color: #666666;
	line-height: 160%;
}
#sidebar p {
	margin: 0px 0px 15px;
}
#sidebar h3 {
	font: bold 12px/100% Arial, Helvetica, sans-serif;
	color: #666666;
}
#sidebar h3 a, #sidebar h3 a:visited {
	color: #666666;
}
#sidebar h3 img {
	vertical-align: middle;
}
#sidebar a, #sidebar a:visited {
	color: #000000;
	text-decoration:none;
}
#sidebar a:hover, #sidebar a:focus, #sidebar a:active {
	text-decoration:underline;
}
#sidebar ul {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-left: 0px;
}
#sidebar ul li {
	background: url(images/bullet-orange.gif) no-repeat 1px .1em;
	padding-left: 18px;
	margin-left: 0px;
	list-style-type: none;
	list-style-image: none;
}
#sidebar ul li ul li {
	background: url(images/bullet-grey.gif) no-repeat 1px .1em;
	padding-left: 12px;
	margin-left: 0px;
	list-style-type: none;
	list-style-image: none;
}
ul.menu li, li.leaf {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/bullet-orange.gif) no-repeat 1px .1em;
}
ul.menu li.expanded {
	background: transparent url(images/menu-expanded.gif) no-repeat 1px .4em;
}
ul.menu li.collapsed {
	background: transparent url(images/menu-collapsed.gif) no-repeat 1px .4em;
}
ul.menu li.leaf a, ul.menu li.expanded a, ul.menu li.collapsed a {
	display: block;
}
ul.menu, .item-list ul {
	margin: 0.35em 0 0 -0.5em;
	padding: 0;
	text-align: left;
}	
#sidebar .block-user ul li {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/bullet-orange.gif) no-repeat 1px .1em;
}
#sidebar .block-user ul li ul li {
	background: url(images/bullet-grey.gif) no-repeat 1px .1em;
	padding-left: 12px;
	margin-left: 0px;
}
#sidebar .block-forum ul li {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/mini-page.gif) no-repeat 1px .1em;
}	
#sidebar .block-comment ul li {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/mini-comment.gif) no-repeat 1px .1em;
}
#sidebar .block-blog ul li {
	padding: 0 0 .2em 1.5em;
	border: none;
	list-style-type: none;
	list-style-image: none;
	background: url(images/mini-archive.gif) no-repeat 1px .1em;
}
#sidebar a.active {
	padding: 0 1.5em .2em 0;
	border: none;
	list-style-type: none;
	list-style-image: none;
	text-decoration: underline;
	background: url(images/mini-check.gif) no-repeat right;
}
.node_read_more a {
	background: url(images/mini-down-arrow.gif) no-repeat left center;
	padding-left: 15px;
}
.more-link a {
	background: url(images/mini-more.gif) no-repeat left center;
	padding-left: 15px;
	font-size: 9px;
}
.comment_comments a {
	background: url(images/comments.gif) no-repeat;
	padding-left: 26px;
	clear: both;
}
.poll .bar {
	height: 14px;
	background-color: #D4E2F2;
}
.poll .bar .foreground {
	background: url(images/bg-poll.gif) repeat-x;
	height: 14px;
	clear: none;
	float: left;
}
.poll .vote-form {
	text-align: center;
}
.poll .vote-form .choices {
	padding-left: 5%;
	text-align: left;
	display: block;
}
.comment_add a {
	background: url(images/mini-comment.gif) no-repeat left center;
	padding-left: 20px;
}
li.comment_delete a {
	background: url(images/mini-trash.gif) no-repeat 0 2px;
	padding-left: 15px;
}
li.comment_edit a {
	background: url(images/mini-edit.gif) no-repeat 0 2px;
	padding-left: 15px;
}
li.comment_reply a {
	background: url(images/mini-comments.gif) no-repeat 0 2px;
	padding-left: 15px;
}
.blog_usernames_blog a {
	background: url(images/mini-user.gif) no-repeat left center;
	padding-left: 20px;
}
/* ------------------------------------- widget styles  */
/* archives widget */
#archives ul li {
	background: url(images/mini-archive.gif) no-repeat;
}
/* recent comments widget */
#recent-comments ul li {
	background: url(images/mini-comment.gif) no-repeat;
}
/* category widget */
#categories ul li {
	background: url(images/mini-category.gif) no-repeat;
}
/* recent posts widget */
#recent-posts ul li {
	background: url(images/mini-page.gif) no-repeat;
}
/* links widget */
#links ul li {
	background: url(images/mini-blogroll.gif) no-repeat;
}
/* meta */
#meta .rss {
	background: url(images/mini-rss.gif) no-repeat;
}
#meta .login {
	background: url(images/mini-user.gif) no-repeat;
}
#meta .check {
	background: url(images/mini-check.gif) no-repeat;
}
#meta .wordpress {
	background: url(images/mini-wp.gif) no-repeat;
}
/* calendar */
#calendar table {
	margin: 0px auto;
}
#calendar td {
	padding: 0px 4px;
}

/* alignments */
.center {
	text-align: center;
}
img.center, img[align="center"] {
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.left {
	float: left;
}
img.left, img[align="left"] {
	float:left;
	margin: 2px 10px 5px 0px;
}
.right {
	float: right;
}
img.right, img[align="right"] {
	float:right;
	margin: 2px 0px 5px 10px;
}
.clear {
	clear:both;
}
hr.clear {
	clear:both;
	visibility: hidden;
	margin: 0px;
	padding: 0px;
}
.hidden {
	clear: both;
	visibility: hidden;
}
table {
	margin: 0.5em 0 1em 0;
	width: 100%;
}
thead th {
	border-bottom: 2px solid #AAB5C3;
	color: #678;
	font-size: 90%;
	font-weight: bold;
	background: url(images/bg-thead.gif) repeat-x bottom left;
	padding: 4px 5px 0 5px;
}
tr.even, tr.odd {
	border-color: #DADCE0;
}
tr.even {
	background-color: #fbfcfe;
}
tr.odd {
  background-color: #fff;
}
td.active {
  background: #e4ecf5;
}
td {
  padding: 3px;
}
td.menu-disabled {
  background-color: #E5E5E5;
}
.mission {
	padding: 10px 15px 10px 15px;
	margin: 0 0 20px 0;
	border: 1px solid #f2f2f2;
	background-color: #F9F9F9;
	text-align: center;
}
.sticky {
	padding: 8px 15px 15px 15px;
	background-color: #fbfbfb;
	border: 1px solid #e4e3e3;
	margin-bottom: 20px;
}
.form-item {
	font-size: 11px;
	margin-left: 1em;
	margin-bottom:1em;
}
.edit-submit-1{
    /*margin-top: 0.7em;*/
	margin-bottom:: 1em;
	margin-left: 1em;
}
.picture {
	float:left;
	margin: 4px 10px 2px 0;
}
#forum td.container {
	font-size: 14px;	
	font-weight: bold;
	background-color: #42afdc;
	padding: 1px 0 1px 8px;
}
#forum td.container a {
	color: #fff;
}
/****************************************************************
  Docking Boxes core CSS: YOU MUST NOT CHANGE OR OVERRIDE THESE 
*****************************************************************/
#sidebar .dbx-clone {
	position:absolute;
	visibility:hidden;
	}
#sidebar .dbx-clone, #sidebar .dbx-clone #sidebar .dbx-handle-cursor {
	cursor:move !important;
	}
#sidebar .dbx-dummy {
	display:block;
	width:0;
	height:0;
	overflow:hidden;
	}
#sidebar .dbx-group, #sidebar .dbx-box, #sidebar .dbx-handle {
	position:relative;
	display:block;
	}
/****************************************************************
  avoid padding, margins or borders on dbx-box, 
  to reduce visual discrepancies between it and the clone.  
  overall, dbx-box is best left as visually unstyled as possible 
*****************************************************************/
#sidebar .dbx-box {
	margin:0;
	padding:0;
	border:none;
	clear: both;
	}
/****************************************************************
  otherwise, do what you like :) 
*****************************************************************/
/* group container(s) */
#sidebar .dbx-group {
	width:210px;
	padding:0 0px 10px;
}
* html #sidebar .dbx-group {
	width: 210px;
	padding-bottom:0;
}
/* handles */
#sidebar .dbx-handle {
	position:relative;
	margin:0;
	padding: 16px 24px 7px 10px;
	background:url(images/sidep-handle.gif) no-repeat 0 0; 
}
* html #sidebar .dbx-handle { 
	width: 176px; 
}
/* handle cursors are in a class of their own
   so they only get applied if the script is supported */
#sidebar .dbx-handle-cursor {
	cursor:move;
}
/* toggle images */
#sidebar a.dbx-toggle, #sidebar a.dbx-toggle:visited {
	display:block;
	width:20px;
	height:20px;
	overflow:hidden;
	background:url(images/sidep-toggle.png) no-repeat;
	position:absolute;
	top:12px;
	right:3px;
	text-indent:-50px;
	text-decoration:none;
}
#sidebar a.dbx-toggle-open, #sidebar a.dbx-toggle-open:visited {
	background-position:0 0;
}
#sidebar a.dbx-toggle-closed, #sidebar a.dbx-toggle-closed:visited {
	background-position:0 -20px;
}
#sidebar a.dbx-toggle-hilite-open, #sidebar a.dbx-toggle-hilite-open:visited {
	background-position:-20px 0;
}
#sidebar a.dbx-toggle-hilite-closed, #sidebar a.dbx-toggle-hilite-closed:visited {
	background-position:-20px -20px;
}
/* keyboard navigation tooltip */
#sidebar .dbx-tooltip {
	display:block;
	position:absolute;
	margin:36px 0 0 125px;
	width:185px;
	border:1px solid #000;
	background:#ffd;
	color:#000;
	font:normal normal normal 0.85em tahoma, arial, sans-serif;
	padding:2px 4px 3px 5px;
	text-align:left;
}
* html #sidebar .dbx-tooltip { width:210px; }
/* use CSS2 system colors in CSS2 browsers 
   but not safari, which doesn't support them */
*[class="dbx-tooltip"]:lang(en) {
	border-color:InfoText;
	background:InfoBackground;
	color:InfoText;
	font:small-caption;
	font-weight:normal;
	}
/* inner content area */	
#sidebar .dbx-content {
	margin: 0;
	padding: 5px 10px 9px 10px;
	background: url(images/sidep-bottom.gif) no-repeat 0 100%;
	overflow: hidden;
}
/* toggle state of inner content area */
#sidebar .dbx-box-closed .dbx-content {
	display:block;
	height:4px;
	padding:0;
	overflow:hidden;
}
#sidebar .dbx-box-closed .dbx-content * {
	display:none;
}
/* additional clone styles */
#sidebar .dbx-clone {
	opacity:0.8;
	-moz-opacity:0.8;
	-khtml-opacity:0.8;
	filter:alpha(opacity=80);
}
.terms {
	font-size: 11px;
}
.terms a { 
	padding: 1px 0px;	
	text-decoration: none;
	background: url(images/mini-category.gif) no-repeat 0px -2px;
	padding-left: 20px;
	color: #999999;	
}
